$color:rgba(255, 255, 255, 1);
$card-bc-color:linear-gradient(209.09deg, #191919 -1.68%, #212121 135.36%);
$percentage-bc-color:  rgba(168, 127, 82, 1);
$font-fm:'Visuelt Pro', sans-serif;
$font-size:13px;
$font-Stienbeck:'Stienbeck', sans-serif;
$btn-color:rgba(60, 39, 16, 1);
$card-title-color: rgba(201, 172, 140, 1);
$btn-bc-color:rgba(201, 172, 140, 1)
rgba(201, 172, 140, 1);
body{
    background-color: rgba(25, 25, 25, 1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
    border: 0;
    outline: none;
}
// poet cards started here!!
.card-body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.main_content{
    display: flex;
}
.card-img{
    width: 100%;
    z-index: 1;
    position: relative;
}
.card-img img{
    width: 100%;
}
.card__body{
    width: 180px;
    margin-left: 20px;
    border-radius: 15px;
    background: $card-bc-color;
    position: relative;
    overflow: hidden;
}
.card__title h1{
    margin: 10px 0 0 0;
    text-align: center;
    color: $card-title-color;
    font-size: 20px;
    font-weight: 400;
}
.card__text{
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    margin-top: 5px;
}
.book-icon, .headphone-icon{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    gap: 10px;
    color:$color;
}
.card__icons{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.bc-svg{
    position: absolute;
    top: 121px;
}
.left-bottom-corner-img{
    position: absolute;
    bottom: 0;
}
.bc-svg img:last-child{
    margin-left: 102px;
    margin-top: -30px;
}

.card__wrapper{
    margin: 20px;
}
.book-cards{
    margin-left: 29px;
}
.books-img{
    width: 100%;
}
.book-title h1{
    width: 100%;
    font-size: 27px;
    margin: 10px 0 0 0;
    font-weight: 400;
}
.written-by p{
    margin: 3px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    font-family: $font-fm;
}
.fa-star{
    color: #fff;
    margin: 3px 0;
}
.book-rate span{
    margin: 50px 0;
    font-size: $font-fm;
    margin: 3px 0;
    font-family: $font-fm;
    color: rgba(255, 255, 255, 0.6);
}
.quotes-from-book{
    padding: 30px 40px;
    border-radius: 15px;
    position: relative;
    background: linear-gradient(263.94deg, #161616 0%, #1E1E1E 98.06%);
}
.quote-text p{
    color: $color;
    font-size: 16px;
    line-height: 24.16px;
    font-weight: 400;
    font-family: $font-Stienbeck;    
}
.quote-card-back-img{
    width: 180px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}
.quote-card-back-img img{
    width: 100%;
}
.right-top-icon{
    font-size: 80px;
    position: absolute;
    top: -10px;
    left: 27px;
    font-style: normal;
    font-family: 'Love Ya Like A Sister', cursive;
}
.home-card{
    background-color: rgba(32, 32, 32, 1);
    padding: 20px 25px;
    border-radius: 14px;
}
.home-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
   h1{
     font-size: 24px;
    font-weight: 400;
    font-family: $font-Stienbeck;
   }
    .bxs-grid-alt{
        color: rgba(255, 255, 255, 0.3);
        font-size: 23px;
    }
}
.books-rating{
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.rating-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.books-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        font-size: 1rem;
        color: #fff;
        font-family: $font-Stienbeck;
    }
    span{
        color: rgba(255, 255, 255, 0.6);
    }
}
.refresh-btn button{
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    background-color: $card-bc-color;
}
.percentage__wrapper{
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-radius: 10px;
}
.percentage-color{
    width: 30%;
     height: 100%; 
     background-color:$percentage-bc-color; 
     border-radius: 7px;
}
.rating-div{
    display: flex;
    align-items: center;
    gap: 10px;
    button{
        border:0;
        outline: none;
        border-radius: 3px;
        color:$btn-color;
    }
}
.see-all-btn__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    button{
        width: 100%;
        padding: 20px;
        background-color: $card-bc-color;
        font-size: 22px;
        font-family: $font-Stienbeck;
        border-radius: 5px;
    }
}